# project settings
config/
.env
!.env.*

# build
coverage/
node_modules/
out/
*.log

# idea
.idea/*
.idea/jsLinters/*
!.idea/jsLinters/
!.idea/jsLinters/eslint.xml
!.idea/discord-bot.iml
!.idea/jsLibraryMappings.xml
!.idea/modules.xml
!.idea/sqldialects.xml.xml

# vscode
.vscode/*
!.vscode/launch.json
